<?xml version="1.0"?>
<config>
    <modules>
        <Icube_Shipment>
            <version>0.1.1</version>
        </Icube_Shipment>
    </modules>
    <frontend>
        <routers>
            <icube_shipment>
                <use>standard</use>
                <args>
                    <module>Icube_Shipment</module>
                    <frontName>shipment</frontName>
                </args>
            </icube_shipment>
        </routers>
    </frontend>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_shipment_grid>Icube_Shipment_Block_Sales_Shipment_Grid</sales_shipment_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <icube_shipment_setup>
                <setup>
                    <module>Icube_Shipment</module>
                </setup>
            </icube_shipment_setup>
        </resources>
        <helpers>
            <icube_shipment>
                <class>Icube_Shipment_Helper</class>
            </icube_shipment>
        </helpers>
        <models>
            <icube_shipment>
                <class>Icube_Shipment_Model</class>
            </icube_shipment>
        </models>
    </global>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Icube_Shipment before="Mage_Adminhtml">Icube_Shipment_Adminhtml</Icube_Shipment>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <icubeshipment>
                    <file>icube/icubeshipment.xml</file>
                </icubeshipment>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <update_awb_number>
                <schedule><cron_expr>*/10 * * * *</cron_expr></schedule>
                <run><model>icube_shipment/observer::updateAwbNumber</model></run>
            </update_awb_number>
        </jobs>
    </crontab>
</config>