/*----------------------------------------------------------------------------*/
/* General
/*----------------------------------------------------------------------------*/

body.customer-account {

	.messages {
	}

	.col-main {
		margin-top: 20px;

		a {

		}
		
		.section {
			margin-top: 10px !important;
			padding: 20px 10px;

			.section-title {
			
				h1,
				h2 {
				}
			}

			&.link {

				a {
					padding: 15px 20px 15px 100px;
					line-height: 1.3;

					strong {
						@include responsive-font-size(14);
						margin-bottom: 5px;
					}

					&:before {
						top: 50%;
						margin-top: -25px;
					}
				}
			}
		}

		.section-2cols {
			margin-top: 10px;

			.section {
				float: none !important;
				width: 100%;
				margin-top: 10px !important;
			}
		}

		.page-title {
			display: none;
		}

		.box-account {

			p, 
			address {
			}

			.box-head {

				h2,
				h3 {
				}
			}

			.box-content {
				padding: 10px;
				overflow: hidden;
				height: auto !important;

				&.empty {
					height: 40px !important;
				}
			}

			.col2-set {

				.col-1,
				.col-2 {
					float: none;
					width: 100%;
					padding: 0;
				}

				.col-2 {
					margin-top: 15px;
				}

				.col-1 {

					.box-title h3 {
						font-weight: bold;
						@icnlude responsive-font-size(14);
						text-transform: capitalize;
					}
				}

				.actions {

					a.edit {
						color: #fff;
						background: $c-blue;
						padding: 5px 10px 5px 25px !important;
						border-radius: 5px;
						position: relative;
					    bottom: initial;
					    right: -5px;
					    text-align: right;
					    margin-top: 10px;

						&:before {
							left: 8px !important;
						}
					}
				}
			}
		}

		.buttons-set {
			text-align: center;
			position: relative;

			.back-link {
				float: none;
			}

	 		.back-link a {

	 			small {
	 			}
	 			
	 			&:before {
	 			}

	 			&:hover:before {
	 			}
	 		}

	 		.button {
	 			float: none;
			    width: 100%;
			    height: 50px;
			    margin: 0;
			    @include responsive-font-size(18);

			    + .button {
			    	margin-top: 10px;
			    }
	 		}
		}

		.fieldset {

			.legend {
			}

			p.required {
			}

			.col2-set {

				div.select {

					.select-bg {
					}
				}

				.col-1,
				.col-2 {
					float: none;
					width: 100%;
					padding: 0;
					border: none;
				}
				
				.col-2 {
					height: auto !important;
				}
			}
		}

		.form-list {
			
			label {
			}

			.control {

				label {
				}

				input {

					&.checkbox {
					}
				}
			}
		}
	}
}


/*----------------------------------------------------------------------------*/
/* Data table
/*----------------------------------------------------------------------------*/

body.customer-account {

	.data-table-wrapper {
		padding: 0;
		border: none;
	}

	.data-table {
		display: block;

		tr,
		tbody,
		tfoot,
		tr,
		th,
		td {
			display: block;
			width: 100%;
		}

		thead {
			display: none;
		}

		tfoot {

			td {
				display: inline-block;
				width: auto;
			}
		}
		
		tbody {

			td {
				border: none;
				padding: 0;

				&:before {
					content: attr(data-rwd);
					content: attr(data-rwd-label);
					display: block;
					font-weight: bold;
					line-height: 1.2;
				}

				+ td {
					margin-top: 5px;
				}
			}
		}
	}
}

/*----------------------------------------------------------------------------*/
/* Login Page
/*----------------------------------------------------------------------------*/

.customer-account-login {

	.col2-set {

		.col-1,
		.col-2 {
			float: none;
			width: 100%;
			padding: 0;
			border: none;
			margin: 0;
		}

		.col-1 {

			ul {
				padding: 0;
			}
		}

		.col-2 {
			margin-top: 10px;
		}
	}
}

.account-login {
	margin-top: 10px;

	a {
		color: $c-link;
	}

	p.required {
		display: none;
	}

	&.login-only {

		.registered-users {
			
			.buttons-set {

				.button {
				}
			}
		}
	}

	.buttons-set {

		.button {
			width: 100%;
			border-radius: $button-radius;
		}

		.or {
			color: $c-text-grey;
			@include responsive-font-size(11);
			margin: 7px 0;
		}
	}

	.form-list {
		padding: 0;

		li {
			list-style: none;
		}

		input {
			position: relative;
		}
	}

	h2 {
		@include responsive-font-size(16);
	    font-weight: 600;
	    text-transform: uppercase;
	}

	.register-link-wrapper {
		margin-top: 10px;
		@include responsive-font-size(11);
		color: $c-text-grey;

		a {
			@include responsive-font-size(11);
		}
	}

}

.account-login + div.inchoo-socialconnect-login {
	display: none;
}

.input-box-inner.email,
.input-box-inner.password {

	&:after {
		top: 9px;
		margin-top: 0;
	}
}

/*----------------------------------------------------------------------------*/
/* Registration Page
/*----------------------------------------------------------------------------*/

.customer-account-create .account-create {

	.section {
		padding: 20px 10px;
	}

	h2 {
		@include responsive-font-size(16);
	}

	.buttons-set {
		margin-top: 0;

		p {
			text-align: left;
			@include responsive-font-size(14);
			margin-bottom: 15px;

			a {
				padding: 0;
			}
		}

		.button {
			width: 100%;
			height: 40px;
		}
	}

	.scaffold-form label:first-child {
		width: auto;
	}

	.col-1,
	.col-2 {
		width: 100%;
		float: none;
		border: none;
		padding: 0;
	}

	.col-1 {
		padding-bottom: 10px;
	    border-bottom: 1px solid #a9a9a9;
	    margin-bottom: 25px;

		.fieldset {
			border: none;
			padding-right: 0;
		}
	}

	.form-list {

		li.integratememberid {
			margin: 10px 0 20px;

			.input-box:first-child,
			.input-box:nth-child(2) {
				display: none;
			}
		}
	}

	/* Social Connect */
	.inchoo-socialconnect-register {

		p {
			display: none;
		}
	}

	.remember-me-popup {
		// display: block;
	}

	.or {
		padding: 10px 0 2px;
    	color: #676b78;
	}
}

/*----------------------------------------------------------------------------*/
/* Forgot Password
/*----------------------------------------------------------------------------*/
 
body.customer-account-forgotpassword .main {

}

/*----------------------------------------------------------------------------*/
/* My Account - Navigation
/*----------------------------------------------------------------------------*/

body.customer-account .sidebar {

	.block-title {

		span {
			@include responsive-font-size(16);
		}
	}

	.block-account {
		position: relative;

  		#mob-active-menu {

	  		li strong,
  			li a:before {
  				color: $c-text;
  			}
  		} 
	}

	.block-content:not(#mob-active-menu) {
		display: none;
	    position: absolute;
	    top: 100px;
    	width: 100%;
    	box-shadow: 0px 2px 7px #a9a9a9;
    	border-radius: $button-radius;
    	padding-top: 5px;
    	padding-bottom: 5px;
    	z-index: 1;

    	.current {
    		display: none;
    	}

		.current:first-child + li {
			border-top: none;
		}
	}

	#mob-active-menu {
		padding: 5px 30px 5px 9px;
    	border-radius: $button-radius;
    	cursor: pointer;
    	position: relative;

		li {
			list-style: none;
		}

		&:after {
		   	content: "\f107";
			color: $c-orange;
            font: normal normal normal 24px/1 FontAwesome;
            right: 10px;
            position: absolute;
    		top: 15px;
		}

		&.clicked:after {
		   	content: "\f106";
		}
	}
}

/*----------------------------------------------------------------------------*/
/* My Account - My Order details
/*----------------------------------------------------------------------------*/

body.sales-order-view .main ,
body.sales-order-invoice .main,
body.sales-order-shipment .main,
body.sales-order-creditmemo .main,
body.enterprise-rma-return-returns .main {
	
	.table-caption {
	}

	.data-table {
		
		.product-name {
		}

		dl.item-options {
		}
	}

	table.total {
	}

	.order-details .order-links {
	}

	.section.amorderattr {
	}
}

/*----------------------------------------------------------------------------*/
/* My Account - Dashboard
/*----------------------------------------------------------------------------*/

body.customer-account-index {

	.col-main {

		.my-account {
		}

		.page-title {
		}

		.section {
		}
	}
}

.dashboard {

	.buttons-set {

	}

	.col2-set {

		.col-1,
		.col-2 {
			float: none;
			width: 100%;
			padding: 0;
		}
	}
}

/*----------------------------------------------------------------------------*/
/* My Account - Customer Account Edit
/*----------------------------------------------------------------------------*/

.section.customer-account-edit {

	.messages {
	}

	.section-title {
		display: none;
	}

	.fieldset {

		.col2-set {
		}

		.legend {
		}

		#change_password {

			+ label {
				text-align: left;
			}
		}

		li.control:after {
			@include clearfix;
		}
	}
}

/*----------------------------------------------------------------------------*/
/* My Account - Address Book
/*----------------------------------------------------------------------------*/

/* Address Book Index */

body.customer-address-index .main {

	.page-title {
		display: none;
	}
}

/* Address Form */

body.customer-address-form .main {

	.page-title {
		display: none;
	}

	.section {
		 
	}

	.fieldset {
		float: none !important;
		width: 100% !important;
		padding: 0 !important;

		.legend {
			font-weight: bold;
			@icnlude responsive-font-size(14);
			text-transform: capitalize;
		}

		&.right {
			margin-top: 20px;
		}
	}

	.buttons-set {
		margin-bottom: 50px;

		.back-link {
			position: absolute;
			top: 70px;
		    left: 0;
		    right: 0;
		}
	}
}

/*----------------------------------------------------------------------------*/
/* My Account - Order History
/*----------------------------------------------------------------------------*/

body.sales-order-history .main {

	.data-table {

		td.view {
			text-align: left;
			margin-top: 10px;

			a {
				text-transform: none;
			    background: $c-blue;
			    color: #fff;
			    display: inline-block;
			    padding: 5px 15px;
			    border-radius: 5px;
			}
		}

		tr {
			padding: 30px 10px 10px;
			border: solid 1px #a9a9a9;
			position: relative;

			+ tr {
				margin-top: 15px;
			}
		}

		td.number {
			position: absolute;
		    left: 0;
		    top: 0;
		    width: 100%;
		    padding: 2px 10px;
		    background: #a9a9a9;
    		color: #fff;

		    &:before {
		    	display: inline-block;
		    	margin-right: 10px;
		    }
		}

		td.ship {
			height: auto;
		}

	}

}

/*----------------------------------------------------------------------------*/
/* My Account - Order Detail
/*----------------------------------------------------------------------------*/

body.sales-order-view .main,
body.sales-order-invoice .main,
body.sales-order-shipment .main,
body.sales-order-creditmemo .main,
body.enterprise-rma-return-returns .main {
	
	.section {
	}

	.order-info {
	}

	.page-title.title-buttons {
	}

	.my-account {

		.order-details {
		}
	}

	.order-date {
		text-transform: initial;
	}
}

.order-info-box {
	
	.box {
	}

	.box-title,
	.box-content {
	}

	.box-title {
	}

	.box-content {
	}

	.col-1 {
	}

	.col-2 {
	}

	#order_attributes {
	}
}

/*----------------------------------------------------------------------------*/
/* My Account - Newsletter Subscription
/*----------------------------------------------------------------------------*/

body.newsletter-manage-index .main {

}

/*----------------------------------------------------------------------------*/
/* My Account - Newsletter Subscription Magemonkey
/*----------------------------------------------------------------------------*/

.monkey-additional-lists {

	div.interest-groupings  {

		div.grouping {
		}
	}

	.listdata {
	}
}

.monkey-multisubscribe {

	.col2-set {
	}
}

body.monkey-customer-account-index .main {

	.buttons-set {
	}
}

/*----------------------------------------------------------------------------*/
/* My Account - Product Review
/*----------------------------------------------------------------------------*/

body.review-customer-index .main {
	
	#my-reviews-table {

		.product-name {
			font-weight: 400;
		}
		
		td.last {
			text-align: left;
			margin-top: 10px;

			a {
				text-transform: none;
			    background: $c-blue;
			    color: #fff;
			    display: inline-block;
			    padding: 5px 15px;
			    border-radius: 5px;
			}
		}

		tr {
			padding: 30px 10px 10px;
			border: solid 1px #a9a9a9;
			position: relative;

			+ tr {
				margin-top: 15px;
			}
		}

		td:first-child {
			position: absolute;
		    left: 0;
		    top: 0;
		    width: 100%;
		    padding: 2px 10px;
		    background: #a9a9a9;
    		color: #fff;

		    &:before {
		    	display: inline-block;
		    	margin-right: 10px;
		    }
		}
	}
}


body.review-customer-view .main {

	.product-img-box,
	.product-details {
		float: none;
		width: 100%;
	}
}

/*----------------------------------------------------------------------------*/
/* My Account - Product Review Detail
/*----------------------------------------------------------------------------*/

body.review-customer-view .main .product-review {
	
}

/*----------------------------------------------------------------------------*/
/* My Account - Wishlist
/*----------------------------------------------------------------------------*/

#wishlist-view-form {

	.buttons-set {
	}
}

#wishlist-table {

	td {
		padding: 0 10px;
	}

	tr {
		padding: 60px 0 10px;
		border: solid 1px #a9a9a9;
		position: relative;

		+ tr {
			margin-top: 15px;
		}
	}

	td.customer-wishlist-item-availabilty {
		position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    padding: 2px 25px 2px 10px;
	    background: #a9a9a9;
		color: #fff;
		margin: 0;

	    &:before {
	    	display: inline-block;
	    	margin-right: 10px;
	    	margin-top: -3px;
	    	vertical-align: middle;
	    }
	}

	td.customer-wishlist-item-image {
		width: 205px;
		margin: 0 auto;
		padding: 0;

		.product-image {
			width: 100%;
			border-color: #a9a9a9;
		}
	}

	td.customer-wishlist-item-info {
		text-align: center;
		padding: 0;
		border-bottom: 1px solid #a9a9a9;
		margin: 0;

		a {
			color: $c-text;
			display: block;
			padding: 17px 10px;
		}

		&:before {
			display: none;
		}
	}

	td.customer-wishlist-item-remove {
		position: absolute;
		right: 0;
	    top: 6px;
	    z-index: 1;
	    padding: 0;

	    .btn-remove:before {
	    	color: #fff;
	    }
	}

	td.customer-wishlist-item-price {
		width: 100%;
		margin: 15px 0;

		&:before {
			display: inline-block;
			min-width: 110px;
			vertical-align: top;
			line-height: 19px;
		}

		.price-box {
			display: inline-block;

			.price {
				line-height: 1;
			}

			.old-price {
				display: block;

				.price {
					@include responsive-font-size(10);
				}
			}

			.special-price {
				display: block;
			}
		}
	}

	td.customer-wishlist-item-cart {
		width: 100%;
	}
}

/*----------------------------------------------------------------------------*/
/* My Account - Share Wishlist
/*----------------------------------------------------------------------------*/

body.wishlist-index-share {
	
}

/*----------------------------------------------------------------------------*/
/* Redeem
/*----------------------------------------------------------------------------*/

.section.redeempoint {
	
	.company-selection {
		position: relative;

		.current {
			cursor: pointer;

			&:before {
	  			@include triangle(down,10px,#fff);
	  			position: absolute;
	  			right: 10px;
	  			top: 17px;
	  			border-right-width: 5px;
	  			border-left-width: 5px;
	  		}
		}

		> ul {
			display: none;
		}

		li {

			a {
				float: none;
				width: 100%;
				padding: 0;
				border: none !important;

				&.ace {
					background: #ED1C24;

					&:after {
						content: '';
						@include use-sprite('mobile-select-ace');
					}

					&:hover:after,
					&.selected:after {
						@include use-sprite('mobile-select-ace');
					}
				}

				&.informa{
					background: #003876;

					&:after {
						content: '';
						@include use-sprite('mobile-select-informa');
					}

					&:hover:after,
					&.selected:after {
						@include use-sprite('mobile-select-informa');
					}
				}

				&.toyskingdom {
					background: #EA5B0C;

					&:after {
						content: '';
						@include use-sprite('mobile-select-toyskingdom');
					}

					&:hover:after,
					&.selected:after {
						@include use-sprite('mobile-select-toyskingdom');
					}
				}
			}
		}
	}

	.form-wrapper {
	}

	.col2-set {

		.col-1 {
			border-right: none;
			border-bottom: 1px solid #b4b4b4;
			padding-bottom: 15px;
			margin-bottom: 15px;
		}
	}

	.form-list {
	}

	#redeem-confirm-passkey {

		.popup-content {
			width: 300px;
			height: 230px;
			padding: 10px;

			.buttons-set {
				margin-top: 15px;

				.button {
					max-width: 140px;
					height: 35px;
					@include responsive-font-size(14);
					margin-bottom: 10px;
				}
			}
		}
	}

	.button {
	}

	p.info {
		@include responsive-font-size(14);
		text-align: left;
	}

	h3 {
	}

	.step-1 {
	}

	.step-2 {
	}

	.step-3 {
	}

	.point-ace,
	.point-informa,
	.point-toyskingdom {
	}

	.data-table {
		display: block;

		tr,
		tbody,
		tfoot,
		tr,
		th,
		td {
			display: block;
			width: 100%;
		}

		thead {
			display: none;
		}

		tfoot {

			td {
				display: inline-block;
				width: auto;
			}
		}

		tr {
			padding: 10px 0;
			border-bottom: solid 1px #e1e1e1;

			&:first-child {
				border-top: solid 1px #e1e1e1;
			}
		}

		td {
			border: none;
			padding: 0;

			&:before {
				content: attr(data-rwd);
				content: attr(data-rwd-label);
				display: block;
				font-weight: bold;
			}
		}
	}
}

#redeem-confirm-success {

	.buttons-set {

		.button {
		}
	}

	p.title {
	}

	p {
	}

	p.info {
	}

	#redeem-confirm-success-value {
	}

	.mfp-close {
	}

	#reeem-rest-points {
	}
}
/*----------------------------------------------------------------------------*/
/* Gender Widget
/*----------------------------------------------------------------------------*/

.form-list {

	li.gender {

		.input-box {
		}

		#gender-female {
		}

		#gender-male {
		}
	}
}

/*----------------------------------------------------------------------------*/
/* Dob Widget
/*----------------------------------------------------------------------------*/
.form-list {
	
	.customer-dob {
	}
}

/*----------------------------------------------------------------------------*/
/* Pager
/*----------------------------------------------------------------------------*/

.my-account .pager {

	.count-container {
	}

	.amount {
	}

	.limiter {

		label {
		}

		div.select {
		}
	}

	.pages {
	}
}


/*----------------------------------------------------------------------------*/
/* Social Connect
/*----------------------------------------------------------------------------*/

div.inchoo-socialconnect-google, 
div.inchoo-socialconnect-facebook {
	max-width: 100%;
}

.social-connect-btn {

	+ .social-connect-btn {
		margin-top: 6px;
	}
}

div.inchoo-socialconnect-google-inner a, 
div.inchoo-socialconnect-facebook-inner a {
	@include responsive-font-size(14);
}

/*----------------------------------------------------------------------------*/
/* Toolbar
/*----------------------------------------------------------------------------*/

.my-account {

	.pager {

		.limiter {

			div.select {
				border: 1px solid #a9a9a9;
			}

			label {
				display: none;
			}
		}

		.count-container {
			border: none;
		}
	}
}