<?xml version="1.0"?>
<config>
	<modules>
		<Icube_Pickuppoint>
			<version>0.1.2</version>
		</Icube_Pickuppoint>
	</modules>
	<global>
		<helpers>
			<pickuppoint>
				<class>Icube_Pickuppoint_Helper</class>
			</pickuppoint>
		</helpers>
		<models>
			<pickuppoint>
				<class>Icube_Pickuppoint_Model</class>
				<resourceModel>pickuppoint_resource</resourceModel>
			</pickuppoint>
			<pickuppoint_resource>
                <class>Icube_Pickuppoint_Model_Resource</class>
                <entities>
                    <pickuppoint>
                        <table>pickuppoint</table>
                    </pickuppoint>
                </entities>
            </pickuppoint_resource>
		</models>
		<resources>
			<pickuppoint_setup>
				<setup>
					<module>Icube_Pickuppoint</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</pickuppoint_setup>
			<pickuppoint_write>
				<connection>
					<use>core_write</use>
				</connection>
			</pickuppoint_write>
			<pickuppoint_read>
				<connection>
					<use>core_read</use>
				</connection>
			</pickuppoint_read>
		</resources>
	</global>
</config> 