<?xml version="1.0"?>
<config>
    <modules>
        <Ruparupa_AdminStartup>
            <version>0.1.0</version>
        </Ruparupa_AdminStartup>
    </modules>
    <global>
        <models>
            <ruparupa_adminstartup>
                <class>Ruparupa_AdminStartup_Model</class>
            </ruparupa_adminstartup>
        </models>
        <events>
            <admin_session_user_login_success>
                <observers>
                    <Ruparupa_AdminStartup_Model_Observer>
                        <type>singleton</type>
                        <class>Ruparupa_AdminStartup_Model_Observer</class>
                        <method>redirectpageEvent</method>
                    </Ruparupa_AdminStartup_Model_Observer>
                </observers>
            </admin_session_user_login_success>
        </events>
    </global>
</config>