<?xml version="1.0"?>
<!--
/*
 * @author     Kristof Ringleff
 * @package    Fooman_Surcharge
 * @copyright  Copyright (c) 2009 Fooman Limited (http://www.fooman.co.nz)
 */
 -->
<config>
    <modules>
        <Fooman_Surcharge>
            <version>3.1.12</version>
        </Fooman_Surcharge>
    </modules>

    <global>
        <models>
            <surcharge>
                <class>Fooman_Surcharge_Model</class>
            </surcharge>
            <paypal>
                <rewrite>
                    <!-- required since only known totals are taken into consideration (no custom totals, no events) -->
                    <hostedpro_request>Fooman_Surcharge_Model_Paypal_Hostedpro_Request</hostedpro_request>
                </rewrite>
            </paypal>
        </models>
        <blocks>
            <surcharge>
                <class>Fooman_Surcharge_Block</class>
            </surcharge>
        </blocks>
        <helpers>
            <surcharge>
                <class>Fooman_Surcharge_Helper</class>
            </surcharge>
            <!--<tax>
                <rewrite>
                    <data>Fooman_Surcharge_Helper_Tax</data>
                </rewrite>
            </tax>-->
        </helpers>
        <resources>
            <surcharge_setup>
                <setup>
                    <module>Fooman_Surcharge</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </surcharge_setup>
            <surcharge_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </surcharge_write>
            <surcharge_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </surcharge_read>
        </resources>
        <fieldsets>
             <sales_convert_quote>
                <fooman_surcharge_description><to_order>*</to_order></fooman_surcharge_description>
            </sales_convert_quote>
            <sales_convert_quote_address>
                <fooman_surcharge_amount><to_order>*</to_order></fooman_surcharge_amount>
                <base_fooman_surcharge_amount><to_order>*</to_order></base_fooman_surcharge_amount>
                <fooman_surcharge_tax_amount><to_order>*</to_order></fooman_surcharge_tax_amount>
                <base_fooman_surcharge_tax_amount><to_order>*</to_order></base_fooman_surcharge_tax_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <fooman_product_surcharge />
                    </product_attributes>
                </item>
                <totals>
                    <fooman_surcharge>
                        <after>nominal,subtotal,msrp,tax_subtotal,freeshipping,weee,shipping,tax_shipping,discount,tax,grand_total,payone_fee,rewardshipping,reward_item,offer,customerreward,giftwrap,payline_nx</after>
                        <class>surcharge/quote_address_total_surcharge</class>
                        <renderer>surcharge/tax_checkout_surcharge</renderer>
                        <admin_renderer>surcharge/adminhtml_sales_order_create_totals_surcharge</admin_renderer>
                    </fooman_surcharge>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <fooman_surcharge>
                        <after>nominal,subtotal,msrp,tax_subtotal,freeshipping,weee,shipping,tax_shipping,discount,tax,grand_total,payone_fee,rewardshipping,reward_item,offer,customerreward,giftwrap,payline_nx</after>
                        <before>giftcardaccount</before>
                        <class>surcharge/order_invoice_total_surcharge</class>
                    </fooman_surcharge>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <fooman_surcharge>
                        <after>nominal,subtotal,msrp,tax_subtotal,freeshipping,weee,shipping,tax_shipping,discount,tax,grand_total,payone_fee,rewardshipping,reward_item,offer,customerreward,giftwrap,payline_nx</after>
                        <class>surcharge/order_creditmemo_total_surcharge</class>
                    </fooman_surcharge>
                </totals>
            </order_creditmemo>
        </sales>
        <pdf>
            <totals>
                <fooman_surcharge translate="title">
                    <title>Surcharge</title>
                    <source_field>fooman_surcharge_amount</source_field>
                    <model>surcharge/sales_pdf_surcharge</model>
                    <display_zero>0</display_zero>
                    <sort_order>550</sort_order>
                </fooman_surcharge>
            </totals>
        </pdf>
        <events>
            <payment_method_is_active>
                <observers>
                    <surcharge_payment_method_is_active>
                        <type>singleton</type>
                        <class>Fooman_Surcharge_Model_Observer</class>
                        <method>paymentMethodIsActive</method>
                    </surcharge_payment_method_is_active>
                </observers>
            </payment_method_is_active>
            <sales_quote_collect_totals_before>
                <observers>
                    <resetSurcharge>
                        <type>singleton</type>
                        <class>Fooman_Surcharge_Model_Observer</class>
                        <method>resetSurcharge</method>
                    </resetSurcharge>
                </observers>
            </sales_quote_collect_totals_before>
            <paypal_prepare_line_items>
                <observers>
                    <addSurchargeToPaypalCart>
                        <type>singleton</type>
                        <class>Fooman_Surcharge_Model_Observer</class>
                        <method>addSurchargeToPaypalCart</method>
                    </addSurchargeToPaypalCart>
                </observers>
            </paypal_prepare_line_items>
<!--    Icube update - disable observer          -->
<!--
            <adminhtml_sales_order_creditmemo_register_before>
                <observers>
                    <adjustCreditmemoSurcharge>
                        <type>singleton</type>
                        <class>Fooman_Surcharge_Model_Observer</class>
                        <method>adjustCreditmemoSurcharge</method>
                    </adjustCreditmemoSurcharge>
                </observers>
            </adminhtml_sales_order_creditmemo_register_before>
-->
            <!-- <controller_front_init_before>
                <observers>
                    <surchargeDynamicRewrite>
                        on Magento pre 1.4.1.0 adds a rewrite for Mage_Paypal_Model_Standard
                        <type>singleton</type>
                        <class>Fooman_Surcharge_Model_Observer</class>
                        <method>controllerFrontInitBefore</method>
                    </surchargeDynamicRewrite>
                </observers>
            </controller_front_init_before> -->
            <core_block_abstract_to_html_before>
                <observers>
                    <adjustSubtotal>
                        <type>singleton</type>
                        <class>Fooman_Surcharge_Model_Observer</class>
                        <method>adjustSubtotal</method>
                    </adjustSubtotal>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <adjustPaypalTitle>
                        <type>singleton</type>
                        <class>Fooman_Surcharge_Model_Observer</class>
                        <method>adjustPaypalTitle</method>
                    </adjustPaypalTitle>
                </observers>
            </core_block_abstract_to_html_after>
            <sales_order_invoice_cancel>
                <observers>
                    <surcharge_sales_order_invoice_cancel>
                        <type>singleton</type>
                        <class>Fooman_Surcharge_Model_Observer</class>
                        <method>salesOrderInvoiceCancel</method>
                    </surcharge_sales_order_invoice_cancel>
                </observers>
            </sales_order_invoice_cancel>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <surcharge>
                    <file>surcharge.xml</file>
                </surcharge>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <surcharge>
                    <file>surcharge.xml</file>
                </surcharge>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <surcharge translate="title" module="surcharge">
                                            <title>Surcharge</title>
                                            <sort_order>35</sort_order>
                                        </surcharge>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <sales>
            <totals_sort>
                <fooman_surcharge>60</fooman_surcharge>
            </totals_sort>
        </sales>
        <surcharge>
            <fooman_surcharge_all>
                <surchargeon>on-subtotal</surchargeon>
                <titleformat>{TITLE} {AMOUNT}</titleformat>
            </fooman_surcharge_all>
<!--  Icube Update - add store code Fee -->
            <fooman_surcharge_storecode>
	            <enabled>1</enabled>
	            <handlingtype>P</handlingtype>
                <description>Handling Fee</description>
                <group/>
                <applygroupfilter>0</applygroupfilter>
            </fooman_surcharge_storecode>
<!--  Icube Update - disable other surcharges -->
<!--
            <fooman_surcharge_country>
                <enabled>0</enabled>
                <group/>
                <applygroupfilter>0</applygroupfilter>
                <countries/>
                <rate/>
                <fixed/>
                <handlingtype/>
                <description/>
            </fooman_surcharge_country>
            <fooman_surcharge_country2>
                <enabled>0</enabled>
                <group/>
                <applygroupfilter>0</applygroupfilter>
                <countries/>
                <rate/>
                <fixed/>
                <handlingtype/>
                <description/>
            </fooman_surcharge_country2>
            <fooman_surcharge_region>
                <enabled>0</enabled>
                <addresstype>shipping</addresstype>
                <group/>
                <applygroupfilter>0</applygroupfilter>
                <regions/>
                <rate/>
                <fixed/>
                <handlingtype/>
                <description/>
            </fooman_surcharge_region>
            <fooman_surcharge_cc>
                <enabled>0</enabled>
                <cctypes/>
                <rate/>
                <description/>
                <group/>
                <applygroupfilter>0</applygroupfilter>
            </fooman_surcharge_cc>
            <fooman_surcharge_method>
                <enabled>0</enabled>
                <methods/>
                <rate/>
                <description/>
                <group/>
                <applygroupfilter>0</applygroupfilter>
            </fooman_surcharge_method>
            <fooman_surcharge_method2>
                <enabled>0</enabled>
                <methods/>
                <rate/>
                <description/>
                <group/>
                <applygroupfilter>0</applygroupfilter>
            </fooman_surcharge_method2>
            <fooman_surcharge_method3>
                <enabled>0</enabled>
                <methods/>
                <rate/>
                <description/>
                <group/>
                <applygroupfilter>0</applygroupfilter>
            </fooman_surcharge_method3>
            <fooman_surcharge_method4>
                <enabled>0</enabled>
                <methods/>
                <rate/>
                <description/>
                <group/>
                <applygroupfilter>0</applygroupfilter>
            </fooman_surcharge_method4>
            <fooman_surcharge_method5>
                <enabled>0</enabled>
                <methods/>
                <rate/>
                <description/>
                <group/>
                <applygroupfilter>0</applygroupfilter>
            </fooman_surcharge_method5>
            <fooman_surcharge_minenforced>
                <enabled>0</enabled>
                <minenforceamount/>
                <group/>
                <applygroupfilter>0</applygroupfilter>
                <description/>
            </fooman_surcharge_minenforced>
            <fooman_surcharge_minfee>
                <enabled>0</enabled>
                <minfeeamount/>
                <minfeetype>value</minfeetype>
                <fixed/>
                <applygroupfilter>0</applygroupfilter>
                <group/>
                <description/>
            </fooman_surcharge_minfee>
            <fooman_surcharge_group>
                <enabled>0</enabled>
                <applygroupfilter>1</applygroupfilter>
                <group/>
                <fixed/>
                <description/>
            </fooman_surcharge_group>
            <fooman_surcharge_group2>
                <enabled>0</enabled>
                <applygroupfilter>1</applygroupfilter>
                <group/>
                <fixed/>
                <description/>
            </fooman_surcharge_group2>
            <fooman_surcharge_group3>
                <enabled>0</enabled>
                <applygroupfilter>1</applygroupfilter>
                <group/>
                <fixed/>
                <description/>
            </fooman_surcharge_group3>
            <fooman_surcharge_shippingmethod>
                <enabled>0</enabled>
                <surchargeon>on-shipping</surchargeon>
                <applygroupfilter>0</applygroupfilter>
            </fooman_surcharge_shippingmethod>
            <fooman_surcharge_shippingmethod2>
                <enabled>0</enabled>
                <surchargeon>on-shipping</surchargeon>
                <applygroupfilter>0</applygroupfilter>
            </fooman_surcharge_shippingmethod2>
            <fooman_surcharge_shippingmethod3>
                <enabled>0</enabled>
                <surchargeon>on-shipping</surchargeon>
                <applygroupfilter>0</applygroupfilter>
            </fooman_surcharge_shippingmethod3>
-->
        </surcharge>
        <tax>
            <classes>
                <surcharge_tax_class/>
            </classes>
            <calculation>
                <tax_included_in_surcharge>0</tax_included_in_surcharge>
            </calculation>
            <cart_display>
                <surcharge>1</surcharge>
            </cart_display>
        </tax>
    </default>
    <surcharge>
        <types>
            <fooman_surcharge_country>
                <model_key>country</model_key>
                <model>Fooman_Surcharge_Model_Surcharge_Country</model>
            </fooman_surcharge_country>
            <fooman_surcharge_country2>
                <model_key>country</model_key>
                <model>Fooman_Surcharge_Model_Surcharge_Country</model>
            </fooman_surcharge_country2>
            <!--  Icube Update - add store code Key -->
            <fooman_surcharge_storecode>
                <model_key>storecode</model_key>
                <model>Fooman_Surcharge_Model_Surcharge_Storecode</model>
            </fooman_surcharge_storecode>
            <fooman_surcharge_region>
                <model_key>region</model_key>
                <model>Fooman_Surcharge_Model_Surcharge_Region</model>
            </fooman_surcharge_region>
            <fooman_surcharge_shippingmethod>
                <model_key>shippingMethod</model_key>
                <model>Fooman_Surcharge_Model_Surcharge_ShippingMethod</model>
            </fooman_surcharge_shippingmethod>
            <fooman_surcharge_shippingmethod2>
                <model_key>shippingMethod</model_key>
                <model>Fooman_Surcharge_Model_Surcharge_ShippingMethod</model>
            </fooman_surcharge_shippingmethod2>
            <fooman_surcharge_shippingmethod3>
                <model_key>shippingMethod</model_key>
                <model>Fooman_Surcharge_Model_Surcharge_ShippingMethod</model>
            </fooman_surcharge_shippingmethod3>
            <fooman_surcharge_product>
                <model_key>product</model_key>
                <model>Fooman_Surcharge_Model_Surcharge_Product</model>
            </fooman_surcharge_product>
            <fooman_surcharge_group>
                <model_key>group</model_key>
                <model>Fooman_Surcharge_Model_Surcharge_Group</model>
            </fooman_surcharge_group>
            <fooman_surcharge_group2>
                <model_key>group</model_key>
                <model>Fooman_Surcharge_Model_Surcharge_Group</model>
            </fooman_surcharge_group2>
            <fooman_surcharge_group3>
                <model_key>group</model_key>
                <model>Fooman_Surcharge_Model_Surcharge_Group</model>
            </fooman_surcharge_group3>
            <fooman_surcharge_minfee>
                <model_key>minFee</model_key>
                <model>Fooman_Surcharge_Model_Surcharge_MinFee</model>
            </fooman_surcharge_minfee>
            <fooman_surcharge_minenforced>
                <model_key>minEnforced</model_key>
                <model>Fooman_Surcharge_Model_Surcharge_MinEnforced</model>
            </fooman_surcharge_minenforced>
            <fooman_surcharge_cc>
                <model_key>cc</model_key>
                <model>Fooman_Surcharge_Model_Surcharge_Cc</model>
            </fooman_surcharge_cc>
            <fooman_surcharge_cc2>
                <model_key>cc</model_key>
                <model>Fooman_Surcharge_Model_Surcharge_Cc</model>
            </fooman_surcharge_cc2>
            <fooman_surcharge_method>
                <model_key>method</model_key>
                <model>Fooman_Surcharge_Model_Surcharge_Method</model>
            </fooman_surcharge_method>
            <fooman_surcharge_method2>
                <model_key>method</model_key>
                <model>Fooman_Surcharge_Model_Surcharge_Method</model>
            </fooman_surcharge_method2>
            <fooman_surcharge_method3>
                <model_key>method</model_key>
                <model>Fooman_Surcharge_Model_Surcharge_Method</model>
            </fooman_surcharge_method3>
            <fooman_surcharge_method4>
                <model_key>method</model_key>
                <model>Fooman_Surcharge_Model_Surcharge_Method</model>
            </fooman_surcharge_method4>
            <fooman_surcharge_method5>
                <model_key>method</model_key>
                <model>Fooman_Surcharge_Model_Surcharge_Method</model>
            </fooman_surcharge_method5>
            <!--<fooman_surcharge_method6>
                <model_key>method</model_key>
                <model>Fooman_Surcharge_Model_Surcharge_Method</model>
            </fooman_surcharge_method6>
            <fooman_surcharge_method7>
                <model_key>method</model_key>
                <model>Fooman_Surcharge_Model_Surcharge_Method</model>
            </fooman_surcharge_method7>
            <fooman_surcharge_method8>
                <model_key>method</model_key>
                <model>Fooman_Surcharge_Model_Surcharge_Method</model>
            </fooman_surcharge_method8>
            <fooman_surcharge_method9>
                <model_key>method</model_key>
                <model>Fooman_Surcharge_Model_Surcharge_Method</model>
            </fooman_surcharge_method9>
            <fooman_surcharge_method10>
                <model_key>method</model_key>
                <model>Fooman_Surcharge_Model_Surcharge_Method</model>
            </fooman_surcharge_method10>-->
        </types>
    </surcharge>
    <phpunit>
        <suite>
            <modules>
                <Fooman_Surcharge />
            </modules>
        </suite>
    </phpunit>
</config>
