<!--@subject Email - Footer @-->
                    <!-- End Content -->
                    </td>
                </tr>
                <tr bgcolor="#ffffff">
                	<td>
						<!-- Footer -->
						<br/>
						<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#f26525;">
							<tr>
								<td><img src="https://img.ruparupa.com/media/static/email/newsletter/7april16/terhubung.jpg" /></td>
								<td><a href="https://twitter.com/ruparupacom"><img src="https://img.ruparupa.com/media/static/email/newsletter/7april16/icon-1.jpg" alt="twitter" /></a></td>
								<td><a href="https://facebook.com/ruparupacom"><img src="https://img.ruparupa.com/media/static/email/newsletter/7april16/icon-2.jpg" alt="facebook" /></a></td>
								<td><a href="https://instagram.com/ruparupacom"><img src="https://img.ruparupa.com/media/static/email/newsletter/7april16/icon-3.jpg" alt="instagram"/></a></td>
								<td><a href="https://plus.google.com/u/0/101666717859056881335"><img src="https://img.ruparupa.com/media/static/email/newsletter/7april16/icon-4.jpg" alt="google plus"/></a></td>
								<td><img src="https://img.ruparupa.com/media/static/email/newsletter/7april16/icon-5.jpg" /></td>
							</tr>
						</table>
						<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#ffffff">
							<tr>
								<td colspan="2" align="center"><img src="https://img.ruparupa.com/media/static/email/newsletter/7april16/benefit.jpg" alt="benefit berbelanja di Ruparupa"/></td>
							</tr>
							<tr>
								<td colspan="2">
									<p  style="margin:5px 0px; text-align:center;">Ada pertanyaan? Hubungi kami di</p>
								</td>
							</tr>
							<tr>
								<td style="text-align:center; margin-bottom:20px;">
									<a href="tel:021-582 9191"><img src="https://img.ruparupa.com/media/static/email/telephone.png" alt="telephone" width="12" style="margin-right:10px;"/><span class="normal" style="text-decoration:none; color:#52555F;">021 - 582 9191</span></a>
								</td>
								<td style="text-align:center;">
									<a href="mailto:help@ruparupa.com" ><img src="https://img.ruparupa.com/media/static/email/email.png" alt="Email" width="12" style="display:inline-block; margin-right:10px;"/><span class="normal" style="text-decoration:none; color:#52555F;" >help@ruparupa.com</span></a>
									<br/>
								</td>
							</tr>
							<tr><td colspan="2">&nbsp;</td></tr>
						</table>
                	</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>