<?xml version="1.0"?>
<config>
    <modules>
        <Icube_Vpaymentins>
            <version>0.1.0</version>
        </Icube_Vpaymentins>
    </modules>
    <frontend>
        <routers>
            <vpaymentins>
                <use>standard</use>
                <args>
                    <module>Icube_Vpaymentins</module>
                    <frontName>vpaymentins</frontName>
                </args>
            </vpaymentins>
            <!--<checkout>-->
                <!--<args>-->
                    <!--<modules>-->
                        <!--<Icube_Vpaymentins before="Mage_Checkout">Icube_Vpaymentins</Icube_Vpaymentins>-->
                    <!--</modules>-->
                <!--</args>-->
            <!--</checkout>-->
        </routers>
        <layout>
            <updates>
                <vpaymentins>
                    <file>vpaymentins.xml</file>
                </vpaymentins>
            </updates>
        </layout>
    </frontend> 
    <global>
        <models>
            <vpaymentins>
                <class>Icube_Vpaymentins_Model</class>
                <resourceModel>vpaymentins_resource</resourceModel>
            </vpaymentins>
            <vpaymentins_resource>
                <class>Icube_Vpaymentins_Model_Resource</class>
                <entities>
                    <vpaymentins>
                        <table>veritrans</table>
                    </vpaymentins>
                    <program>
                        <table>promo_program</table>
                    </program>
                </entities>
            </vpaymentins_resource>
        </models>
        <resources>
            <vpaymentins_setup>
                <setup>
                    <module>Icube_Vpaymentins</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vpaymentins_setup>
            <vpaymentins_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vpaymentins_write>
            <vpaymentins_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vpaymentins_read>
        </resources>
        <blocks>
            <vpaymentins>
                <class>Icube_Vpaymentins_Block</class>
            </vpaymentins>
        </blocks>
        <helpers>
            <vpaymentins>
                <class>Icube_Vpaymentins_Helper</class>
            </vpaymentins>
        </helpers>
        <payment>
            <vpaymentins>
                <types>
                    <AE>
                        <code>AE</code>
                        <name>American Express</name>
                        <order>0</order>
                    </AE>
                    <VI>
                        <code>VI</code>
                        <name>Visa</name>
                        <order>10</order>
                    </VI>
                    <MC>
                        <code>MC</code>
                        <name>MasterCard</name>
                        <order>20</order>
                    </MC>
                    <DI>
                        <code>DI</code>
                        <name>Discover</name>
                        <order>30</order>
                    </DI>
                    <SM>
                        <code>SM</code>
                        <name>Maestro/Switch</name>
                        <order>40</order>
                    </SM>
                    <SO>
                        <code>SO</code>
                        <name>Solo</name>
                        <order>45</order>
                    </SO>
                    <JCB>
                        <code>JCB</code>
                        <name>JCB</name>
                        <order>50</order>
                    </JCB>
                    <OT>
                        <code>OT</code>
                        <name>Other</name>
                        <order>1000</order>
                    </OT>
                </types>
            </vpaymentins>
            <groups>
                <offline>Offline Payment Methods</offline>
            </groups>
        </payment>
        <events>
            <sales_order_invoice_save_after>
                <observers>
                    <icube_vpaymentins_capture_vt>
                        <type>singleton</type>
                        <class>vpaymentins/observer_veritrans</class>
                        <method>captureVT</method>
                    </icube_vpaymentins_capture_vt>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_place_after>
                <observers>
                    <icube_vpaymentins_check_authorize_order>
                        <type>singleton</type>
                        <class>vpaymentins/observer_veritrans</class>
                        <method>checkAuthorizeOrder</method>
                    </icube_vpaymentins_check_authorize_order>
                </observers>
            </sales_order_place_after>
            <sales_order_item_cancel>
                <observers>
                    <icube_vpaymentins_cancel_order>
                        <type>singleton</type>
                        <class>vpaymentins/observer_veritrans</class>
                        <method>cancelOrder</method>
                    </icube_vpaymentins_cancel_order>
                </observers>
            </sales_order_item_cancel>
        </events>
        <!--<fieldsets>-->
            <!--<sales_convert_quote_payment>-->
                <!--<insbank>-->
                    <!--<to_order_payment>*</to_order_payment>-->
                <!--</insbank>-->
                <!--<instenor>-->
                    <!--<to_order_payment>*</to_order_payment>-->
                <!--</instenor>-->
            <!--</sales_convert_quote_payment>-->
            <!--<sales_convert_order_payment>-->
                <!--<insbank>-->
                    <!--<to_quote_payment>*</to_quote_payment>-->
                <!--</insbank>-->
                <!--<instenor>-->
                    <!--<to_quote_payment>*</to_quote_payment>-->
                <!--</instenor>-->
            <!--</sales_convert_order_payment>-->
        <!--</fieldsets>-->
        <fieldsets>
            <sales_convert_quote_payment>
                <insbank>
                    <to_order_payment>*</to_order_payment>
                </insbank>
                <instenor>
                    <to_order_payment>*</to_order_payment>
                </instenor>
            </sales_convert_quote_payment>
        </fieldsets>
    </global>
    <default>
        <payment>
            <vpaymentins>
                <active>1</active>
                <model>vpaymentins/vpaymentins</model>
                <order_status>processing</order_status>
                <title>VT-Direct Installment</title>
                <secure_enable>0</secure_enable>
            </vpaymentins>
         </payment>
    </default>
    <admin>
        <routers>
            <vpaymentins>
                <use>admin</use>
                <args>
                    <module>Icube_Vpaymentins</module>
                    <frontName>vpaymentins</frontName>
                </args>
            </vpaymentins>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <vpaymentins>
                    <file>vpaymentins.xml</file>
                </vpaymentins>
            </updates>
        </layout>
    </adminhtml>
</config>