<?xml version="1.0"?>
<config>
    <modules>
        <Cadence_Fbpixel>
            <version>0.1.0</version>
        </Cadence_Fbpixel>
    </modules>
    <global>
        <models>
            <cadence_fbpixel>
                <class>Cadence_Fbpixel_Model</class>
                <resourceModel>cadence_fbpixel_resource</resourceModel>
            </cadence_fbpixel>
            <cadence_fbpixel_resource>
                <class>Cadence_Fbpixel_Model_Resource</class>
            </cadence_fbpixel_resource>
        </models>
        <blocks>
            <cadence_fbpixel>
                <class>Cadence_Fbpixel_Block</class>
            </cadence_fbpixel>
        </blocks>
        <helpers>
            <cadence_fbpixel>
                <class>Cadence_Fbpixel_Helper</class>
            </cadence_fbpixel>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <cadence_fbpixel>
                    <file>cadence_fbpixel.xml</file>
                </cadence_fbpixel>
            </updates>
        </layout>
    </frontend>
    <default>
        <cadence_fbpixel>
            <visitor>
                <enabled>0</enabled>
            </visitor>
            <conversion>
                <enabled>0</enabled>
            </conversion>
        </cadence_fbpixel>
    </default>
</config>