<?xml version="1.0"?>
<config>
  <modules>
    <Veritrans_Vtweb1>
      <version>2.2.3.1</version>
    </Veritrans_Vtweb1>
  </modules>
  <global>
    <models>
      <vtweb1>
        <class>Veritrans_Vtweb1_Model</class>
      </vtweb1>
    </models>
    <helpers>
      <vtweb1>
        <class>Veritrans_Vtweb1_Helper</class>
      </vtweb1>
    </helpers>
    <blocks>
      <vtweb1>
        <class>Veritrans_Vtweb1_Block</class>
      </vtweb1>
    </blocks>
    <adminhtml>
      <layout>
        <updates>
          <vtweb1>
            <file>veritrans.xml</file>
          </vtweb1>
        </updates>
      </layout>
    </adminhtml>
  </global>
  <default>
    <payment>
      <vtweb1>
        <model>vtweb1/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Credit Card</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
        <conversion_rate>10000</conversion_rate>
        <enable_3d_secure>true</enable_3d_secure>
        <environment>sandbox</environment>
      </vtweb1>
    </payment>
  </default>
  <frontend>
    <routers>
      <vtweb1>
        <use>standard</use>
        <args>
          <module>Veritrans_Vtweb1</module>
          <frontName>vtweb1</frontName>
        </args>
      </vtweb1>
    </routers>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <veritrans_vtweb1>
          <file>veritrans.xml</file>
        </veritrans_vtweb1>
      </updates>
    </layout>
  </adminhtml>
</config>
