/*----------------------------------------------------------------------------*/
/* General
/*----------------------------------------------------------------------------*/

.cms-page-view .main {

    h1 {
        font-size: 30px;
        font-weight: bold;
        color: $c-text-black;
    }
    
    h2,
    h3,
    h4 {
        text-transform: uppercase;
        font-weight: bold;
        color: $c-text;
    }

    h2 {
        @include responsive-font-size(21);
    }

    h3 {
        @include responsive-font-size(18);
    }

    h4 {
        @include responsive-font-size(14);
    }

    .col2-set {

        .col-1,
        .col-2 {
            padding-top: 0;
            padding-bottom: 0;
        }

        .border-left {
            border-left: 1px solid #d8d8d8;
        }

        .buttons-set {
            text-align: center;

            .button {
                float: none;
            }
        }
    }

    .form-list {

        li {
            margin-bottom: 10px;
            list-style-type: none;
        }

        label {
            font-weight: 400;
        }

        .input-text {
            border: 1px solid #C0C0C0;
        }
    }

    .buttons-set {
        border: none;

        .button {
            letter-spacing: 0;
            border-radius: $button-radius;
        }
    }

    .std {

        ul,
        ol {
            margin-left: 30px;
            margin-bottom: 1.5em;

            li {
                margin-left: 0;
            }
        }

        a {
            color: $c-orange;
        }

        p + ol,
        p + ul {
            margin-top: -1em;
        }
    }

    .col-main {
        background: #fff;
        padding: 30px;
    }
}


/*----------------------------------------------------------------------------*/
/* Table
/*----------------------------------------------------------------------------*/

table.table-lines {
    width: 100%;

    th,
    td {
        padding: 5px;
    }

    thead {
        
        th,
        td {
            background: #52555f;
            color: #fff;
            text-align: center;
        }
    }

    tbody {
        
        td {
            border: 1px solid #52555f;
        }
    }
}

.table-note {
    color: #a9a9a9;
    @include responsive-font-size(11);
    margin: 5px 0 1.5em;
}

table {

    &.center {

        tr {
            td,
            th {
                text-align: center;
            }
        }
    }
}

/*----------------------------------------------------------------------------*/
/* Accordion
/*----------------------------------------------------------------------------*/

.accordion {

    .block {
        margin: 0;

        &:not(:last-child) {
            border-bottom: 1px solid #a9a9a9;
        }
    }

    .block-title {
        border-top: 0px;
        padding: 11px 0 !important;
        margin: 0;
        cursor: pointer;
        position: relative;

        &:after {
            content: "\f107";
            font: normal normal normal 15px/1 FontAwesome;
            position: absolute;
            right: 10px;
            top: 12px;
        }

        &.extended:after {
            -ms-transform: rotate(180deg); 
            -moz-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            top: 15px;
        }
    }

    .block-content {
        margin: 0;
        padding: 5px 15px 15px;

        p:last-child {
            margin-bottom: 0;
        }
    }
}

/*----------------------------------------------------------------------------*/
/* CMS Nav
/*----------------------------------------------------------------------------*/

#cms-nav {
	padding: 15px 10px;
    background: #fff;

    .title {
        display: none;
    }

    .block:last-child {
    	margin-bottom: 0;
    }

    li {
    	padding: 10px 0;
    	position: relative;

    	+ li {
    		border-top: 1px #dfdfdf solid;
    	}

    	i {
    		position: absolute;
		    left: 5px;
		    top: 10px;
		    line-height: 1.4;
    	}

    	a {
    		display: block;
		    padding-left: 35px;
		    font-weight: bold;
		    text-transform: uppercase;

		    &:hover {
		    	text-decoration: none;
		    }
    	}

    	&:hover,
    	&.active {
    		color: $c-orange;
    	}
    }
}

/*----------------------------------------------------------------------------*/
/* About Us
/*----------------------------------------------------------------------------*/

.cms-about-us .main {

    // .std {
    //     padding-right: 38%;
    //     background: url(../images/sample/cms/aboutus.jpg) no-repeat right 150px;
    // }
}

/*----------------------------------------------------------------------------*/
/* Info Karir
/*----------------------------------------------------------------------------*/

.cms-career .main {

    .col-main {
        background: none;
        padding: 0;
    }

    h1 {
        text-transform: none;
        @include responsive-font-size(21);
    }

    h2 {
        text-transform: none;
        @include responsive-font-size(16);
        color: $c-orange;
    }

    .banner {
        margin-bottom: 20px;
    }

    .content-wrapper {

        + .content-wrapper {
            margin-top: 30px;
        }

        &:after {
            @include clearfix;
        }

        .left {
            float: left;
            width: 47.5%;
        }

        .right  {
            float: right;
            width: 47.5%;
        }
    }

    .std {

        p {
            margin-bottom: 0;
        }

        ul,
        ol {
            margin-left: 20px;
        }

        hr {
            margin-bottom: 20px;
        }
    }
}

/*----------------------------------------------------------------------------*/
/* How To Shop
/*----------------------------------------------------------------------------*/

.cms-how-to-shop {

}

.cms-how-to-shop .std > table,
.cms-page-view table.progress {

    td {
        vertical-align: top;
        padding: 15px 10px;

        &:first-child {
            padding: 0;
        }

        &:nth-child(2) {
            text-align: center;
            position: relative;
            color: #fff;
            min-width: 50px;

            &:after {
                content: '';
                background: $c-orange;
                border-radius: 1em;
                width: 20px;
                height: 20px;
                position: absolute;
                left: 50%;
                top: 17px;
                margin-left: -10px;
                z-index: 0;
            }
        }

        span {
            z-index: 1;
            display: block;
            color: #fff;
            position: absolute;
            left: 50%;
            text-align: center;
            width: 20px;
            margin-left: -10px;
            line-height: 1.4;
            top: 17px;
        }
    }

    tr:not(:last-child) {

        td:nth-child(2):before {
            content: '';
            height: 100%;
            position: absolute;
            width: 2px;
            background: $c-orange;
            top: 30px;
            left: 50%;
            margin-left: -1px;
            z-index: 0;
        }
    }

    ol,
    ul {
        margin-bottom: 0 !important;
    }
}

/*----------------------------------------------------------------------------*/
/* Pembayaran
/*----------------------------------------------------------------------------*/

.cms-payment .main .std {
 
    p + .accordion {
        margin-top: -1em;
    }

    .accordion:not(:last-child) {
        margin-bottom: 1.5em;
    }
}

/*----------------------------------------------------------------------------*/
/* 404
/*----------------------------------------------------------------------------*/

.cms-index-noroute .std {
    margin-top: 20px;
    margin-bottom: 20px;
    background: #fff url(../images/sample/cms/404_bg.png) no-repeat 90% 50px;
    padding: 30px;

    h1 {
        @include responsive-font-size(107);
        font-weight: bold;
        color: $c-text-black;
        margin-bottom: 0;
    }
    
    h4.subtitle {
        @include responsive-font-size(26);
        text-transform: initial;
        font-weight: bold;
        color: $c-text-black;
        margin-bottom: 0;
    }

    h2 {
        @include responsive-font-size(21);
        text-transform: uppercase;
        font-weight: bold;
        color: $c-text-black;
        margin-bottom: 0;
        margin-bottom: 20px;
    }

    img {
        width: initial;
    }

    #search_mini_form {
        width: 380px;
        margin-bottom: 1.5em;

        .cat-wrapper {
            display: none;
        }

        #search {
            border: 1px solid #dedede;
            border-right: 0;
            width: 90%;
        }

        .search-button {
            width: 10%;
        }

        #search_autocomplete:before {
            display: none;
        }
    }

    .category-list {
        list-style: none;

        &:after {
            @include clearfix;
        }

        li {
            float: left;
            width: 25%;

            img {
                display: inline;
                min-width: 30px;
            }

            span {
                display: inline-block;
                vertical-align: top;
                line-height: 30px;
            }

            .icon {
                margin-right: 3px;
            }
        }
    }

    a {
        color: $c-orange;
    }
}