<?xml version="1.0"?>
<config>
    <modules>
        <Icube_Rma>
            <version>0.1.0</version>
        </Icube_Rma>
    </modules>
    <frontend>
        <routers>
            <icube_rma>
                <use>standard</use>
                <args>
                    <module>Icube_Rma</module>
                    <frontName>return</frontName>
                </args>
            </icube_rma>
        </routers>
        <layout>
            <updates>
                <icube_rma>
                    <file>icube/rma.xml</file>
                </icube_rma>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <icube_rma>
                <class>Icube_Rma_Block</class>
            </icube_rma>
            <enterprise_rma>
                <rewrite>
                    <adminhtml_rma_new_tab_items_order_grid>Icube_Rma_Block_Adminhtml_Rma_New_Tab_Items_Order_Grid</adminhtml_rma_new_tab_items_order_grid>
                    <adminhtml_rma_grid>Icube_Rma_Block_Adminhtml_Rma_Grid</adminhtml_rma_grid>
                    <adminhtml_rma_new_tab_items>Icube_Rma_Block_Adminhtml_Rma_New_Tab_Items</adminhtml_rma_new_tab_items>
                </rewrite>
            </enterprise_rma>
        </blocks>
        <resources>
            <icube_rma_setup>
                <setup>
                    <module>Icube_Rma</module>
                </setup>
            </icube_rma_setup>
        </resources>
        <helpers>
            <icube_rma>
                <class>Icube_Rma_Helper</class>
            </icube_rma>
        </helpers>
        <models>
            <icube_rma>
                <class>Icube_Rma_Model</class>
                <resourceModel>rma_mysql4</resourceModel>
            </icube_rma>
            <rma_mysql4>
                <class>Icube_Rma_Model_Mysql4</class>
                <entities>
                    <items>
                        <table>icube_rma_items</table>
                    </items>
                    <images>
                        <table>icube_rma_images</table>
                    </images>
                </entities>
            </rma_mysql4>        
        </models>
    </global>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Icube_Rma before="Enterprise_Rma_Adminhtml">Icube_Rma_Adminhtml</Icube_Rma>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <icuberma>
                    <file>icube/icuberma.xml</file>
                </icuberma>
            </updates>
        </layout>
    </adminhtml>
</config>