<?xml version="1.0"?>
<config>
  <modules>
	<Icube_Customisation>
	  <version>0.1.2</version>
	</Icube_Customisation>
  </modules>
	<global>
		<blocks>
            <customisation>
                <class>Icube_Customisation_Block</class>
            </customisation>
        </blocks>
		<models>
			<customisation>
				<class>Icube_Customisation_Model</class>
			</customisation>
		</models>
	  <resources>
		  <icube_customisation_setup>
			<setup>
			  <module>Icube_Customisation</module>
			</setup>
			<connection>
			  <use>default_setup</use>
			</connection>
		  </icube_customisation_setup>
	  </resources>
	</global>
	<frontend>
        <routers>
            <customisation>
                <use>standard</use>
                <args>
                    <module>Icube_Customisation</module>
                    <frontName>customisation</frontName>
                </args>
            </customisation>
        </routers>
    </frontend>
</config>
