<?xml version="1.0"?>
<config>
    <modules>
        <Icube_Invoice>
            <version>0.2.8</version>
        </Icube_Invoice>
    </modules>
    <frontend>
        <routers>
            <icube_invoice>
                <use>standard</use>
                <args>
                    <module>Icube_Invoice</module>
                    <frontName>invoice</frontName>
                </args>
            </icube_invoice>
        </routers>
    </frontend>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_invoice_grid>Icube_Invoice_Block_Sales_Invoice_Grid</sales_invoice_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <icube_invoice_setup>
                <setup>
                    <module>Icube_Invoice</module>
                </setup>
            </icube_invoice_setup>
        </resources>
        <helpers>
            <icube_invoice>
                <class>Icube_Invoice_Helper</class>
            </icube_invoice>
        </helpers>
        <models>
            <icube_invoice>
                <class>Icube_Invoice_Model</class>
                <resourceModel>invoice_mysql4</resourceModel>
            </icube_invoice>
            <invoice_mysql4>
                <class>Icube_Invoice_Model_Mysql4</class>
                <entities>
                    <status>
                        <table>icube_invoice_status</table>
                    </status>
                </entities>
            </invoice_mysql4>        
        </models>
        <fieldsets>
		    <sales_convert_quote_item>
		        <delivery_pickup>
		            <to_order_item>*</to_order_item>
		        </delivery_pickup>
		        <store_code>
		            <to_order_item>*</to_order_item>
		        </store_code>
		        <company_id>
		            <to_order_item>*</to_order_item>
		        </company_id>
		        <pickup_location_code>
			        <to_order_item>*</to_order_item>
		        </pickup_location_code>
		        <handling_fee_item>
			        <to_order_item>*</to_order_item>
		        </handling_fee_item>
		    </sales_convert_quote_item>
		    <sales_convert_order_item>
		        <delivery_pickup>
		            <to_quote_item>*</to_quote_item>
		            <to_invoice_item>*</to_invoice_item>
		        </delivery_pickup>
		        <store_code>
		            <to_quote_item>*</to_quote_item>
		            <to_invoice_item>*</to_invoice_item>
		        </store_code>
		        <company_id>
		            <to_quote_item>*</to_quote_item>
		            <to_invoice_item>*</to_invoice_item>
		        </company_id>
		        <pickup_location_code>
			        <to_quote_item>*</to_quote_item>
		            <to_invoice_item>*</to_invoice_item>
		        </pickup_location_code>
		        <handling_fee_item>
			        <to_quote_item>*</to_quote_item>
		            <to_invoice_item>*</to_invoice_item>
		        </handling_fee_item>
		    </sales_convert_order_item>
		</fieldsets>
        <events>
            <sales_order_place_after>
                <observers>
                    <free_payment_observer>
                        <type>singleton</type>
                        <class>Icube_Invoice_Model_Observer</class>
                        <method>splitInvoiceTrigger</method>
                    </free_payment_observer>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Icube_Invoice before="Mage_Adminhtml">Icube_Invoice_Adminhtml</Icube_Invoice>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <icubeinvoice>
                    <file>icube/icubeinvoice.xml</file>
                </icubeinvoice>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <icube_invoice>
                <schedule><cron_expr>*/10 * * * *</cron_expr></schedule>
                <run><model>icube_invoice/observer::soNumber</model></run>
            </icube_invoice>
        </jobs>
    </crontab>
    <default>
        <icube_invoice>
            <invoice_csv>
                <dir_csv>SAP/invoice</dir_csv>
                <dir_archive>SAP/invoice/archive</dir_archive>
            </invoice_csv>
            <data_csv>
                <dir_csv>SAP/flatorder</dir_csv>
                <dir_archive>SAP/flatorder/archive</dir_archive>
            </data_csv>
            <awb_csv>
                <dir_csv>SAP/shipment</dir_csv>
                <dir_archive>SAP/shipment/archive</dir_archive>
            </awb_csv>
        </icube_invoice>
    </default>
</config>