<?xml version="1.0"?>
<config>
  <modules>
    <Icube_Customgiftcard>
      <version>0.1.9</version>
    </Icube_Customgiftcard>
  </modules>
    <frontend>
        <routers>
            <customgiftcard>
                <use>standard</use>
                <args>
                    <module>Icube_Customgiftcard</module>
                    <frontName>customgiftcard</frontName>
                </args>
            </customgiftcard>
        </routers>
    </frontend>
  <global>
    <helpers>
      <customgiftcard>
        <class>Icube_Customgiftcard_Helper</class>
      </customgiftcard>
    </helpers>
	<blocks>
	  <customgiftcard>
		<class>Icube_Customgiftcard_Block</class>
	  </customgiftcard>
			<enterprise_giftcardaccount>
				<rewrite>
					<adminhtml_giftcardaccount_edit_tab_info>Icube_Customgiftcard_Block_Adminhtml_Giftcardaccount_Edit_Tab_Info</adminhtml_giftcardaccount_edit_tab_info>
					<adminhtml_giftcardaccount_grid>Icube_Customgiftcard_Block_Adminhtml_Giftcardaccount_Grid</adminhtml_giftcardaccount_grid>
          <adminhtml_giftcardaccount_edit_tabs>Icube_Customgiftcard_Block_Adminhtml_Giftcardaccount_Edit_Tabs</adminhtml_giftcardaccount_edit_tabs>
				</rewrite>
			</enterprise_giftcardaccount>
	</blocks>
	<resources>
	  <icube_customgiftcard_setup>
		<setup>
		  <module>Icube_Customgiftcard</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </icube_customgiftcard_setup>
	  <icube_customgiftcard_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </icube_customgiftcard_write>
	  <icube_customgiftcard_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </icube_customgiftcard_read>
	</resources>

    <models>
        <enterprise_giftcardaccount>
            <rewrite>
                <observer>Icube_Customgiftcard_Model_Observer</observer>
                <history>Icube_Customgiftcard_Model_History</history>
                <total_creditmemo_giftcardaccount>Icube_Customgiftcard_Model_Total_Creditmemo_Giftcardaccount</total_creditmemo_giftcardaccount>
                <giftcardaccount>Icube_Customgiftcard_Model_Giftcardaccount</giftcardaccount>
            </rewrite>
        </enterprise_giftcardaccount>
    </models>
    <events>
      <controller_action_predispatch_checkout_onepage_index>
        <observers>
          <review_applied_giftcard>
            <type>singleton</type>
            <class>Icube_Customgiftcard_Model_Observer</class>
            <method>reviewAppliedGiftcard</method>
          </review_applied_giftcard>
        </observers>
      </controller_action_predispatch_checkout_onepage_index>
    </events>
  </global>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <icube_customgiftcard before="Enterprise_GiftCardAccount">Icube_Customgiftcard_Adminhtml</icube_customgiftcard>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
</config> 