<?xml version="1.0"?>
<config>
	<modules>
		<Icube_Customcheckout>
			<version>0.1.0</version>
		</Icube_Customcheckout>
	</modules>
	<frontend>
        <layout>
            <updates>
                <customcheckout>
                    <file>icube/customcheckout.xml</file>
                </customcheckout>
            </updates>
        </layout>        
    </frontend>
	<global>
		<blocks>
            <customcheckout>
                <class>Icube_Customcheckout_Block</class>
            </customcheckout>
        </blocks>
		<helpers>
			<customcheckout>
				<class>Icube_Customcheckout_Helper</class>
			</customcheckout>
		</helpers>
	</global>
    <default>
        <customcheckout>
	        <config>
		        <enabled>1</enabled>
		        <skipbilling>1</skipbilling>
				<skishippingmethod>1</skishippingmethod>
				<skipreview>1</skipreview>
	        </config>
        </customcheckout>
    </default>
</config>