<?xml version="1.0"?>
<config>
    <modules>
        <Icube_Vpaymentva>
            <version>0.1.1</version>
        </Icube_Vpaymentva>
    </modules>
    <frontend>
        <routers>
            <vpaymentva>
                <use>standard</use>
                <args>
                    <module>Icube_Vpaymentva</module>
                    <frontName>vpaymentva</frontName>
                </args>
            </vpaymentva>
        </routers>
        <layout>
            <updates>
                <vpaymentva>
                    <file>vpaymentva.xml</file>
                </vpaymentva>
            </updates>
        </layout>
    </frontend> 
    <global>
        <models>
            <vpaymentva>
                <class>Icube_Vpaymentva_Model</class>
                <resourceModel>vpaymentva_resource</resourceModel>
            </vpaymentva>
            <vpaymentva_resource>
                <class>Icube_Vpaymentva_Model_Resource</class>
            </vpaymentva_resource>
        </models>
        <resources>
            <vpaymentva_setup>
                <setup>
                    <module>Icube_Vpaymentva</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vpaymentva_setup>
            <vpaymentva_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vpaymentva_write>
            <vpaymentva_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vpaymentva_read>
        </resources>
        <blocks>
            <vpaymentva>
                <class>Icube_Vpaymentva_Block</class>
            </vpaymentva>
        </blocks>
        <helpers>
            <vpaymentva>
                <class>Icube_Vpaymentva_Helper</class>
            </vpaymentva>
        </helpers>
        <payment>
            <groups>
                <offline>Offline Payment Methods</offline>
            </groups>
        </payment>
        <events>
            <sales_order_item_cancel>
                <observers>
                    <icube_vpaymentva_cancel_order>
                        <type>singleton</type>
                        <class>vpaymentva/observer_veritrans</class>
                        <method>cancelOrder</method>
                    </icube_vpaymentva_cancel_order>
                </observers>
            </sales_order_item_cancel>
        </events>
        <fieldsets>
            <sales_convert_quote_payment>
                <vabank>
                    <to_order_payment>*</to_order_payment>
                </vabank>
                <vanumber>
                    <to_order_payment>*</to_order_payment>
                </vanumber>
                <billercode>
                    <to_order_payment>*</to_order_payment>
                </billercode>
                <billkey>
                    <to_order_payment>*</to_order_payment>
                </billkey>
            </sales_convert_quote_payment>
        </fieldsets>
    </global>
    <default>
        <payment>
            <vpaymentva>
                <active>1</active>
                <model>vpaymentva/vpaymentva</model>
                <order_status>pending</order_status>
                <title>VT-Direct Bank Transfer VA</title>
            </vpaymentva>
         </payment>
    </default>
    <admin>
        <routers>
            <vpaymentva>
                <use>admin</use>
                <args>
                    <module>Icube_Vpaymentva</module>
                    <frontName>vpaymentva</frontName>
                </args>
            </vpaymentva>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <vpaymentva>
                    <file>vpaymentva.xml</file>
                </vpaymentva>
            </updates>
        </layout>
    </adminhtml>
</config>