<?xml version="1.0"?>
<config>
  <modules>
    <Veritrans_Vtbcaklikpay>
      <version>0.1.0</version>
    </Veritrans_Vtbcaklikpay>
  </modules>
  <global>
    <models>
      <vtbcaklikpay>
        <class>Veritrans_Vtbcaklikpay_Model</class>
      </vtbcaklikpay>
    </models>
      <resources>
          <vtbcaklikpay_setup>
              <setup>
                  <module>Veritrans_Vtbcaklikpay</module>
              </setup>
              <connection>
                  <use>core_setup</use>
              </connection>
          </vtbcaklikpay_setup>
          <vtbcaklikpay_write>
              <connection>
                  <use>core_write</use>
              </connection>
          </vtbcaklikpay_write>
          <vtbcaklikpay_read>
              <connection>
                  <use>core_read</use>
              </connection>
          </vtbcaklikpay_read>
      </resources>
    <helpers>
      <vtbcaklikpay>
        <class>Veritrans_Vtbcaklikpay_Helper</class>
      </vtbcaklikpay>
    </helpers>
    <blocks>
      <vtbcaklikpay>
        <class>Veritrans_Vtbcaklikpay_Block</class>
      </vtbcaklikpay>
    </blocks>
    <adminhtml>
      <layout>
        <updates>
          <vtbcaklikpay>
            <file>veritrans.xml</file>
          </vtbcaklikpay>
        </updates>
      </layout>
    </adminhtml>
  </global>
  <default>
    <payment>
      <vtbcaklikpay>
        <model>vtbcaklikpay/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
          <title>BCA Klikpay</title>
          <api_version>2</api_version>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
        <conversion_rate>10000</conversion_rate>
        <environment>sandbox</environment>
      </vtbcaklikpay>
    </payment>
  </default>
  <frontend>
    <routers>
      <vtbcaklikpay>
        <use>standard</use>
        <args>
          <module>Veritrans_Vtbcaklikpay</module>
          <frontName>vtbcaklikpay</frontName>
        </args>
      </vtbcaklikpay>
    </routers>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <veritrans_vtbcaklikpay>
          <file>veritrans.xml</file>
        </veritrans_vtbcaklikpay>
      </updates>
    </layout>
  </adminhtml>
</config>
