<?xml version="1.0"?>
<config>
	<modules>
		<Icube_Creditmemo>
			<version>0.1.5</version>
		</Icube_Creditmemo>
	</modules>
	<global>
		<blocks>
			<icube_creditmemo>
				<class>Icube_Creditmemo_Block</class>
	  		</icube_creditmemo>
	  		<adminhtml>
                <rewrite>
                    <sales_creditmemo_grid>Icube_Creditmemo_Block_Adminhtml_Sales_Creditmemo_Grid</sales_creditmemo_grid>
                </rewrite>
            </adminhtml>
		</blocks>
		<helpers>
			<icube_creditmemo>
				<class>Icube_Creditmemo_Helper</class>
			</icube_creditmemo>
		</helpers>
		<models>
            <icube_creditmemo>
                <class>Icube_Creditmemo_Model</class>
                <resourceModel>icube_creditmemo_mysql4</resourceModel>
            </icube_creditmemo>
            <icube_creditmemo_mysql4>
                <class>Icube_Creditmemo_Model_Mysql4</class>
                <entities>
                    <refundable>
                        <table>icube_creditmemo_refundable</table>
                    </refundable>
                    <history>
                        <table>icube_creditmemo_history</table>
                    </history>
                </entities>
            </icube_creditmemo_mysql4>        
        </models>
        <resources>
        	<icube_creditmemo_setup>
                <setup><module>Icube_Creditmemo</module></setup>
                <connection><use>core_setup</use></connection>
            </icube_creditmemo_setup>  
		    <icube_creditmemo_write>
		        <connection><use>core_write</use></connection>
		    </icube_creditmemo_write>
		    <icube_creditmemo_read>
		        <connection><use>core_read</use></connection>
		    </icube_creditmemo_read>
		</resources>
		<events>
			<adminhtml_sales_order_creditmemo_register_before>
                <observers>
	                <insert_billing_number>
                        <type>singleton</type>
                        <class>Icube_Creditmemo_Model_Observer</class>
                        <method>insertBillingNumberAndIsCreateGc</method>
                    </insert_billing_number>
                </observers>
            </adminhtml_sales_order_creditmemo_register_before>
            <sales_order_creditmemo_save_after>
                <observers>
	                <create_giftcard_refund>
                        <type>singleton</type>
                        <class>Icube_Creditmemo_Model_Observer</class>
                        <method>createGiftcardRefund</method>
                    </create_giftcard_refund>
                </observers>
            </sales_order_creditmemo_save_after>
		</events>
	</global>
	<adminhtml>
        <layout>
            <updates>
                <icubecreditmemo>
                    <file>icube/icubecreditmemo.xml</file>
                </icubecreditmemo>
            </updates>
        </layout>
    </adminhtml>
	<default>
        <icube_creditmemo>
	        <config>
		        <enabled>1</enabled>
		        <percentage>10</percentage>
	        </config>
	        <giftcard>
		        <expiry>180</expiry>
	        </giftcard>
        </icube_creditmemo>
    </default>
</config>