<?xml version="1.0"?>
<config>
    <modules>
        <Icube_City>
            <version>0.1.5</version>
        </Icube_City>
    </modules>
    <frontend>
        <routers>
            <city>
                <use>standard</use>
                <args>
                    <module>Icube_City</module>
                    <frontName>city</frontName>
                </args>
            </city>
        </routers>
    </frontend>
	<global>
		<blocks>
            <city>
                <class>Icube_City_Block</class>
            </city>
            <!-- <adminhtml>
                <rewrite>
<sales_order_create_shipping_address>Icube_City_Block_Adminhtml_Sales_Order_Create_Shipping_Address</sales_order_create_shipping_address>
<sales_order_create_billing_address>Icube_City_Block_Adminhtml_Sales_Order_Create_Billing_Address</sales_order_create_billing_address>
                </rewrite>
            </adminhtml> -->
        </blocks>
		<models>
            <city>
                <class>Icube_City_Model</class>
                <resourceModel>city_resource</resourceModel>
            </city>
            <city_resource>
                <class>Icube_City_Model_Resource</class>
                <entities>
                    <city>
                        <table>icube_country_region_city</table>
                    </city>
                </entities>
            </city_resource>
<!--  Crashed with Module Icube_Vpayment_Model_Rule_Condition_Address -->
<!--
            <salesrule>
            	<rewrite>
                	<rule_condition_address>Icube_City_Model_Rule_Condition_Address</rule_condition_address>
                </rewrite>
        	</salesrule>
-->
        </models>
        <resources>
            <icube_city_setup>
                <setup>
                    <module>Icube_City</module>
					<class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </icube_city_setup>
            <city_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </city_write>
            <city_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </city_read>
        </resources>
        <helpers>
            <city>
                <class>Icube_City_Helper</class>
            </city>
        </helpers>
        <fieldsets>
            <sales_convert_quote_address>
                <kecamatan>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </kecamatan>
                <kelurahan>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </kelurahan>
                <kodejalur>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </kodejalur>
                <kodekecamatan>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </kodekecamatan>
            </sales_convert_quote_address>
            <customer_address>
                <kecamatan>
                    <to_quote_address>*</to_quote_address>
                </kecamatan>
                <kelurahan>
                    <to_quote_address>*</to_quote_address>
                </kelurahan>
                <kodejalur>
                    <to_quote_address>*</to_quote_address>
                </kodejalur>
                <kodekecamatan>
                    <to_quote_address>*</to_quote_address>
                </kodekecamatan>
            </customer_address>
        </fieldsets>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Icube_City before="Mage_Adminhtml">Icube_City_Adminhtml</Icube_City>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <city>
                    <file>icube/icubecity.xml</file>
                </city>
            </updates>
        </layout>
    </adminhtml>
</config>