<?xml version="1.0"?>
<!-- @TODO days off -->

<config>
    <modules>
        <Wyomind_Pickupatstore>
            <version>2.2.3</version>
        </Wyomind_Pickupatstore>
    </modules>
    <stores>
        <admin>
            <design>
                <package>
                    <name>default</name>
                </package>
                <theme>
                    <default>wyomind</default>
                </theme>
            </design>
        </admin>
    </stores>
    <default>
        <pickupatstore>
            <license>
                <version>2.2.3</version> 
            </license>
            <settings>
               
                <grid>Mage_Adminhtml_Block_Sales_Order_Grid</grid>
              
            </settings>
        </pickupatstore>
        <carriers>
            <pickupatstore>
                <active>1</active>
                <title>Store pickup</title>
                <handling_fee>0.00</handling_fee>
                <model>pickupatstore/carrier_pickup</model>
                <dropdown>1</dropdown>
                <date>1</date>
                <dateformat>m/d/Y</dateformat>
                <scheduleahead>15</scheduleahead>
                <time>1</time>
                <timeformat>h:i A</timeformat>
                <minimaldelay>60</minimaldelay>
                <timerange>30</timerange>
                <gmap>30</gmap>
            </pickupatstore>
        </carriers>
        
        
    </default>
    <frontend>
        <routers>
            
            <pickupatstore>
                <use>standard</use>
                <args>
                    <module>Wyomind_Pickupatstore</module>
                    <frontName>pickupatstore</frontName>
                </args>
            </pickupatstore>
        </routers>
        <layout>
            <updates>
                <pickupatstore>
                    <file>pickupatstore.xml</file>
                </pickupatstore>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <pickupatstore>
                                            <title>Pickup@Store</title>
                                        </pickupatstore>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl> 
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <wyomind_pickupatstore_sales_order_grid>
                        <type>model</type>
                        <class>Wyomind_Pickupatstore_Model_Observer</class>
                        <method>addColumn</method>
                    </wyomind_pickupatstore_sales_order_grid>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </adminhtml>
    <global>
        <events>
            
            <sales_order_place_after>
                <observers>
                    <wyomind_pickupatstore_checkout_submit_all_after_observer>
                        <type>singleton</type>
                        <class>Wyomind_Pickupatstore_Model_Observer</class>
                        <method>orderUpdate</method>
                    </wyomind_pickupatstore_checkout_submit_all_after_observer>
                </observers>
            </sales_order_place_after>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <wyomind_pickupatstore_save_shipping_method_observer>
                        <type>singleton</type>
                        <class>Wyomind_Pickupatstore_Model_Observer</class>
                        <method>shippingUpdate</method>
                    </wyomind_pickupatstore_save_shipping_method_observer>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
        </events>
        
        <rewrite>
            <wyomind_pickupatstore_onepage_saveBilling>
                <from><![CDATA[#/checkout/onepage/saveBilling/#]]></from>
                <to>/pickupatstore/onepage/saveBilling</to>
            </wyomind_pickupatstore_onepage_saveBilling>
            <wyomind_pickupatstore_onepage_saveShippingMethod>
                <from><![CDATA[#/checkout/onepage/saveShippingMethod/#]]></from>
                <to>/pickupatstore/onepage/saveShippingMethod</to>
            </wyomind_pickupatstore_onepage_saveShippingMethod>
          
        </rewrite>
        
        <fieldsets>
            <sales_convert_quote>
                <pickup_datetime>
                    <to_order>*</to_order>
                </pickup_datetime>
                
            </sales_convert_quote>
        </fieldsets>
        <models>
            <pickupatstore>
                <class>Wyomind_Pickupatstore_Model</class>
            </pickupatstore>
        </models>
        <helpers>
            <pickupatstore>
                <class>Wyomind_Pickupatstore_Helper</class>
            </pickupatstore>
        </helpers>
        <resources>
            <pickupatstore_setup>
                <setup>
                    <module>Wyomind_Pickupatstore</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pickupatstore_setup>
            <pickupatstore_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pickupatstore_write>
            <pickupatstore_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pickupatstore_read>
        </resources>
    </global>
</config>
