<!--subject {{var store.getFrontendName()}}: Payment Confirmation # {{var order.increment_id}} -->
<!--@subject Pesanan Anda telah dibatalkan @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var order.increment_id":"Order Id",
"var order.getCreatedAtFormated('long')":"Order Created At (datetime)",
"var order.getBillingAddress().format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.getShippingAddress().format('html')":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"layout handle=\"sales_email_order_items\" order=$order":"Order Items Grid",
"var order.getEmailCustomerNote()":"Email Order Note"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<!-- If VA payment -->
<table cellpadding="0" cellspacing="0" border="0">
    <tr class="section">
        <td>
            <h1>Hi {{var order.getCustomerFirstname()}},</h1>
            <p>  Terima kasih telah berbelanja di Ruparupa. Dengan berat hati kami ingin menginformasikan bahwa pesanan Anda dengan detail berikut telah dibatalkan secara otomatis.</p>
        </td>
    </tr>
    <tr class="section">
        <td class="order-info">
            <table>
                <tr>
                    <td>Nomor Pesanan</td><td style="width:20px; height:22px; text-align:center;">:</td><td class="bold">{{var order.getIncrementId()}}</td>
                </tr>
                 <tr>
                    <td>Waktu Transaksi</td><td style="width:20px; height:22px; text-align:center;">:</td><td class="bold">{{var order.getCreatedAtFormated('long')}}</td>
                </tr>
                <tr>
                    <td>Metode Transaksi</td><td style="width:20px; height:22px; text-align:center;">:</td><td class="bold">{{var order.getPayment().getMethodInstance().getTitle()}}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr class="order-information section">
        <td>
           <hr>
           <h2>INFORMASI PESANAN</h2>

            {{if order.getEmailCustomerNote()}}
            <table cellspacing="0" cellpadding="0" class="message-container">
                <tr>
                    <td>{{var order.getEmailCustomerNote()}}</td>
                </tr>
            </table>
            {{/if}}
            <table>
                {{layout handle="sales_email_order_items" order=$order}}
            </table>
        </td>
    </tr>
    <tr class="section">
        <td>
        
       <hr/>

        <!--<p style="line-height:22px;">Namun jangan khawatir. Anda masih bisa membeli produk yang Anda inginkan dengan cara melakukan pesanan ulang. <a href="https://www.ruparupa.com/sales/order/history/?utm_source=payment_expired&amp;utm_medium=email" target="_blank" style="font-size:14px; color:#008CCF; text-decoration:underline; font-weight:bold;">Klik disini</a> untuk memesan ulang dengan barang yang sama.</p>-->

        <p style="line-height:22px;">Namun jangan khawatir. Anda masih bisa membeli produk yang Anda inginkan dengan cara melakukan pesanan ulang. <a href={{var reorder}} target="_blank" style="font-size:14px; color:#008CCF; text-decoration:underline; font-weight:bold;">Klik disini</a> untuk memesan ulang dengan barang yang sama.</p>

       </td>
     </tr>   
    <tr class="section">
        <td>
            <table class="signature">
                <tbody>
                <tr>
                    <td>Terima Kasih</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="border-bottom:1px solid #E1E1E1; padding-bottom:5px; color:#F36525;">Sisca</td>
                </tr>
                <tr>
                    <td>Ruparupa.com</td>
                </tr>
               </tbody>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
